{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
<div class="main-text">
    <p><code>With as</code> - кодты жүз пайыз аяқтай алатын құрылым. Бұл нені білдіреді? Егер файлдармен жұмыс істеу кезінде ашық әдісті қолданатын болсақ, қосымша файлды жабуымыз керек, әйтпесе бұл салдарға әкелуі мүмкін.</p>
    <p>
    <br>
    </p>
    <p><code>With as</code> функциясымен жұмыс істегенде, функция дұрыс орындалмаса да, файлдың міндетті түрде жабылатынына сенімді бола аламыз.</p>
</div> {% endblock %}