{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
<div class="main text">
    <p><strong>Пайдалы сілтемелер:</strong></p>
    <ul>
    <li>
    <noindex><a rel="nofollow" target="_blank" href="https://www.python.org/">Ресми веб-сайт</a></noindex> Python;</li>
    <li>Бағдарлама
    <noindex><a rel="nofollow" target="_blank" href="https://www.jetbrains.com/en-us/pycharm/">PyCharm</a></noindex>.</li>
    </ul>
    <p>
    <br>
    </p>
    <p>Әзірлеу ортасын орнату әрқашан көп уақытты қажет етеді, өйткені барлығын жүктеп алып, конфигурациялау қажет. Бұл оқулықта біз сізге Python бағдарламасын <span style="font-weight: bold;">Windows</span> жүйесінде орнату процесімен таныстырамыз.</p>
    <h4><br></h4>
    <h2>Python-ды Windows жүйесіне қалай орнатуға болады?</h2>
    <p>Бірінші қадам - ​​компьютерге Python жүктеп алу. Мұны істеу үшін өтіңіз
    <noindex><a rel="nofollow" target="_blank" href="https://python.org/">ресми сайт</a></noindex> және Python бағдарламасының соңғы нұсқасын жүктеп алыңыз. Жүктеп алудың екі түрлі нұсқасы бар: Python 2 және Python 3. Курс жаңа нұсқаны қамтиды, сондықтан Python 3 нұсқасын жүктеп алуға болады.</p>
    <p>
    <br>
    </p>

    <p>
    <br>
    </p>
    <p>Жүктеп алғаннан кейін орнатушыны екі рет басыңыз және Python орнатушысы іске қосылады. Ашылған терезеде <code>Add Python X.Y to PATH</code> құсбелгісін қойып, Python-ды орнату үшін "Орнату" түймесін басыңыз.</p>
    <p>
    <br>
    </p>

    <p>
    <br>
    </p>
    <p>Python орнатудан кейін бірден пайдалануға дайын болады. Сізге тек оның өнімділігін тексеру керек болады.</p>
    <p>
    <br>
    </p>
    <p>Жаңа қалта Бастау қойындысында пайда болуы керек, онда IDLE іске қосылуы мүмкін. Егер мұндай қалта болмаса, бағдарламаны қолмен тауып көріңіз.&nbsp;</p>
    <p>
    <br>
    </p>
    <p>IDLE — Python тілімен жұмыс істеуге болатын ендірілген әзірлеу ортасы. Сондай-ақ өнімділікті консольде (терминалда) тексеруге болады. Ол үшін консольді ашып, «python3» деп теріңіз. Егер ештеңе болмаса, жай ғана "python" сөзін теріп, <code>Enter</code> пернесін басып көріңіз.</p>
    <p>
    <br>
    </p>
    <h2>Даму ортасы</h2>
    <p>Сіз әзірлеу ортасы ретінде кез келген қолайлы бағдарламаны пайдалана аласыз. Курс барысында біз ең сенімді бағдарламалардың бірі – PyCharm қолданбасын қолданамыз.&nbsp;</p>
    <p>
    <br>
    </p>
    <p>Егер басқа бағдарламаны қаласаңыз, оны пайдалана аласыз. Ең бастысы, сіздің бағдарламаңыздың Python тілін қолдауы бар екеніне көз жеткізіңіз.&nbsp;</p>
    <p>
    <br>
    </p>
    <h2>Файлға жолды көрсету</h2>
    <p>Windows жүйесінде файлға апаратын жолды көрсету үшін келесі &nbsp;құрылымның мысалын пайдалану керек: "C:\Users\USER\Downloads\FILE.py".</p>
    </div>{% endblock %}