{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
<div class="main-text">
    <p>Бастапқы кезеңде OOP - бұл көп нәрсе анық емес және тым күрделі қараңғы орман. Негізінде олай емес. Біз нақты (<u>түсініксіз</u>) анықтамалардан алшақтап, OOP-ті қарапайым сөздермен білуді ұсынамыз.&nbsp;</p>
    <p>
    <br>
    </p>
    <h4>ҚР қарапайым сөздермен</h4>
    <p>Мысал арқылы барлығын үйрену оңайырақ болғандықтан, роботты мысал ретінде алайық, біз оны OOP жүйесіндегі сабақтарды пайдалануды сипаттауға тырысамыз.</p>
    <p>
    <br>
    </p>
    Робот жағдайында <p><strong>сынып</strong> оның сызбасы болып табылады. Класс (нысан) данасы сызбаға сәйкес жасалған тұтас робот болып табылады.</p>
    <p>
    <br><strong>Мұрагерлік</strong> робот жобасына пайдалы опцияларды қосу туралы. Мысалы, біз роботтың стандартты сызбасын аламыз және оған лазерлерді, қанаттар мен сауыттарды қосамыз. Біз негізгі функционалдығы ата-аналық сыныптан алынған мұрагер сыныпта осы әрлеу жұмыстарын орындаймыз.</p>
    <p>
    <br>
    </p>
    <p><strong>Полиморфизм</strong>барлық роботтар үшін ортақ функционалдылық болып табылады және әрбір робот бір-бірінен өте ерекшеленетіні маңызды емес. Мысалы, негізгі сыныпта біз барлық кейінгі роботтар үшін қозғалыс мүмкіндігін көрсетеміз. Әрі қарай, ізбасар класында біз робот үшін левитация мүмкіндігін қосымша көрсете аламыз, басқа сыныпта суда қозғалу мүмкіндігін көрсетеміз және т.б. Негізгі сызбада жазылған ортақ функционалдылық бар екені белгілі болды, бірақ оны әрбір келесі робот үшін (әр мұрагер үшін) қайта жазуға болады.</p>
    <p>
    <br>
    </p>
    <p>Ал <strong>инкапсуляция</strong> біз үшін роботты қорғайтын құрыш. Құрыш патчының астында сымдар мен микросұлбалар сияқты осал элементтер бар. Саңылауларды құрышпен (<code>protected</code> немесе <code>private</code>) жапқаннан кейін робот сыртқы кедергілерден толығымен қорғалған. Шындығында, біз барлық өрістерге тек әдістер арқылы қол жеткіземіз, осылайша өріске тікелей кіру жабылады.</p>
    <p>
    <br>
    </p>
    <p>Барлық сыныптарда әртүрлі әдістер, сондай-ақ конструкторлары бар өрістер болуы мүмкін. Әрбір класс әртүрлі нысандардың кез келген санын жасауға мүмкіндік береді, олардың барлығының өзіндік сипаттамалары бар.</p>
    <p>
    <br>
    </p>
    <h4>Сыныптарды құру</h4>
    <p>Класс құру үшін <code>class</code> кілт сөзін, содан кейін сыныптың атын жазу керек. Сынып атауларын бас әріптен бастау әдеттегідей, бірақ мұны жасамасаңыз, қате пайда болмайды.</p>
    <p>
    <br>
    </p>
    <p>Кез келген сыныпта өрістерді (айнымалыларды), әдістерді (функцияларды), сонымен қатар конструкторларды жасауға болады.</p>
    <p>
    <br>
    </p>
    <p>Жаңа класс құру және оған кейбір ақпаратты қою арқылы біз оның негізінде жаңа нысандар жасай аламыз. Нысандар сыныптың барлық сипаттамаларына қол жеткізе алады.</p>
    <p>
    <br>
    </p>
    <p>Төменде қарапайым сыныптың мысалы көрсетілген:</p><pre class=" language-python"><code class="lang  language-python"><span class="token keyword">class</span> <span class="token class-name">Book</span><span class="token punctuation">:</span>
	<span class="token keyword">pass</span> <span class="token comment"># Класс может ничего не возвращать</span></code></pre>
	<p>Осындай класс негізінде біз көптеген нысандар жасай аламыз. Бұл жағдайда әрбір нысан белгілі бір кітап болады. Әрбір нысан үшін бірегей деректерді көрсете аламыз.</p>
	<p>
		<br>
	</p>
	<p>Нысан жасау үшін бізге келесі код қажет:</p><pre class=" language-python"><code class="lang  language-python">obj_new <span class="token operator">=</span> Some<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment"># Создание объекта</span>
obj_second <span class="token operator">=</span> Some<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment"># Создание 2 объекта</span></code></pre></div> {% endblock %}