{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
<div class="main-text">
	<h4>Келесі не?</h4>
<p>Сіз енді Python тілінің барлық негізгі қыр-сырын үйрендіңіз. Осы біліммен сіз түрлері бойынша толыққанды жобаларды құру үшін тілдерді үйренуді бастауға болады: ойындар, бағдарламалар, веб-сайттар және т.б.</p>
	<p>
		<br>
	</p>

	<br>Қосымша оқудан кейін сізде толыққанды жобаларды бастау үшін жеткілікті білім болады.</p>
	<p>
		<br>
	</p>
	<h2><span style="font-size: 1em;">Үлкен сабақ<br></span></h2>
	<div>
        <p>Біліміңізді бекіту үшін бір сағатта Python тілін үйренуге арналған тамаша бейне сабағын көре аласыз!
	</div>
	<div><span style="font-size: 1em;"><br></span></div>
	<div style="text-align: center;"><span style="font-size: 1em;"><span class="fr-video fr-fic fr-dii fr-draggable" contenteditable="false" style=""><iframe src="//www.youtube.com/embed/x_2QpLcRdeY" width="640" height="360" frameborder="0"></iframe></span></span>
	</div>
	<div>
		<br>
	</div>
	<h4>Syllabus</h4>
<p>Сонымен қатар, егер сіз тілді және оның шеңберлерін тереңірек зерттеуге қызығушылық танытсаңыз, Python тақырыбына арналған үлкен оқу бағдарламамызды тыңдауды ұсынамыз.&nbsp;</p>
	<p>
		<br>
	</p>
	<p>Курс барысында сіз тереңдетілген тіл түсініктерін үйренесіз, дерекқормен жұмыс істеуді, дизайн тестілерін орындауды, нейрондық желілермен жұмыс істеуді және т.б. үйренесіз. Курс барысында сіз нөлден бастап Python тіліне негізделген сайттарды жасауды және тіпті сайтта тікелей төлем жүйесі бар шағын веб-дүкенді әзірлеуді үйренесіз.</p>
<p>
<br>Бағдарлама керемет ауқымды және біз оны сізге мақтанышпен ұсынамыз. 
	<p>
		<br>
	</p>

</div> {% endblock %}