{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
<div class="main text">
	<h4>Python ақпараты</h4>
	<p>Python 1991 жылы пайда болды, бұл оны тілдерге қарағанда ескі етеді
	<noindex><a href="java">Java</a></noindex>,
	<noindex><a href="csharp">C#</a></noindex>,
	<noindex><a href="javascript">JavaScript</a></noindex>,
	<noindex><a href="php">PHP</a></noindex> және т.б., бірақ оны жас етеді
	<noindex><a href="c-programming">C</a></noindex> және
	<noindex><a href="cpp">C++</a></noindex>. Қартаюына қарамастан, тіл бұрынғы атақ-даңқын мүлде жоғалтқан жоқ, керісінше, жыл өткен сайын нарықтағы қуатын нығайтып келеді. Мұның бәрі тұрақты жаңартулардың арқасында.
	<br>
	<br>Бүгінгі таңда тіл өзін әлемдегі ең танымал тілдердің үштігінде сенімді сезінеді.
	<noindex><a rel="nofollow" target="_blank" href="https://www.tiobe.com/tiobe-index/">TIOBE</a></noindex>. Әзірлеушілер тарапынан мұндай танымалдық пен сүйіспеншілік кездейсоқ емес. Мұның бірнеше себептері бар:</p>
	<p>
	<br>
	</p>
	<p>Біріншіден, тіл синтаксис тұрғысынан барынша ыңғайлы. Егер сіз бұрын кейбір басқа тілдерді оқыған болсаңыз, онда түрі бойынша қанша қосымша таңба бар екенін білесіз: тырнақшалар, жақшалар, нүктелі үтірлер және т.б. Python-да бұл заттардың барлығы жойылады және оның орнына қос нүкте немесе тіпті бірдей ұзындықтағы шегіністерді қоясыз. Бұл тәсіл кодты жазуды ғана емес, басқа біреудің кодын оқуды айтпағанда, оны сақтауды да айтарлықтай жеңілдетеді.</p>
	<p>
	<br>
	</p>
	<p>Екіншіден, тіл әмбебап. Сіз веб-сайт жасағыңыз келе ме? Проблема емес. Компьютерге арналған бағдарлама жасағыңыз келе ме? Сондай-ақ проблема емес. Сіз нейрондық желілерді, машиналық оқытуды, деректерді скрепингті, боттарды немесе тіпті шағын ойындарды жазғыңыз келе ме? Мұның бәрі де проблема емес. Мұндай кең таңдау тілде сансыз сандар бар үшінші тарап кітапханалары мен фреймворктер арқылы қол жетімді.&nbsp;</p>
	<p>
	<br>
	</p>
	<p>
	<br>
	</p>
	<p>Үшіншіден, Python кодты жазу оңайырақ. Python тілінде бір Java тілінде бір немесе екі код жолын қабылдай алатын көптеген әрекеттер кейде 10, кейде 20 жол кодты алады.</p>
	<p>
	<br>
	</p>
	<p>Python тілінде бағдарламалау эстетикалық ләззат пен жақсы табыс әкеледі. Мұнда тіпті тәжірибесіз бағдарламашы да қысқа және оңай оқуға болатын кодты алады.
	<noindex><a href="python-full">Python</a></noindex> - әдемі және өте күшті тіл.</p>
	<p>
	<br>
	</p>
	<h2>Неліктен Python №1 емес?</h2>
	<p>Сіз толығымен қисынды сұрақ қоя аласыз: неге осындай кең ауқымды плюспен адамдар басқа тілдерде де жазады? Бұл бірнеше себептерге байланысты. Python ыңғайлы, бірақ бірдей Си тілімен салыстырғанда ол әлдеқайда баяу. Сіз мұны шағын жобаларда байқамайсыз, бірақ егер сіз үлкен жобаны немесе тіпті өзіңіздің операциялық жүйеңізді жазуды шешсеңіз, Python қамтамасыз ете алмайтын кодты орындаудың максималды жылдамдығы қажет болады.</p>
	<p>
	<br>Ұқсас себептерге байланысты Python оған қол жетімді барлық салаларда көшбасшы емес. Ойындарға жылдамдықты, бағдарламаларды да қажет етеді, сондықтан мұнда таңдау негізінен басқа тілдерде болады, бірақ веб-сайттар жылдамдық тұрғысынан орын босатып қойған, сондықтан арнайы рөлді орындау үшін + - 100 миллисекунд ойнамайды.</p>
	<p>
	<br>
	</p>
	<h2>Python қай жерде қолданылады?</h2>
	<p>Python көмегімен сіз көп нәрсені жасай аласыз: ДК қолданбалары, нейрондық желілер, веб-сайттар және тіпті ойындар.
	<br>
	<br>Егер тілдің ең жиі қолданылуы туралы айтатын болсақ, онда бұл: веб-әзірлеу, деректермен жұмыс істеу, машиналық оқыту және нейрондық желілер, боттарды әзірлеу және әртүрлі жүйелер үшін сценарийлер жазу.</p>
	<p>
	<br>
	</p>
	<p>Бірнеше негізгі мүмкіндіктер&nbsp;Python:</p>
	<ul>
	<li><code>xml/html</code> кеңейтімдерімен жұмыс істей алады;</li>
	<li>http сұрауын басқаруды қолдайды;</li>
	<li>Графикалық интерфейсі бар;</li>
	<li>Веб-скрипттерді жасауға көмектеседі;</li>
	<li>FTP-мен жұмыс істей алады;</li>
	<li>Сурет, бейне және дыбыс файлдарымен жұмыс істей алады;</li>
	<li>Робототехниканы әзірлеуде қолданылады;</li>
	<li>Ғылыми, есептеуіш платформаларды және т.б. жасауға жауапты.</li>
	</ul>
	<p>
	<br>
	</p>
	<p>Біз Python бағдарламашылардың күнделікті тапсырмаларының көпшілігі үшін тамаша деп айта аламыз. Ол тұрақты резервтік көшірмелерді жасауға немесе поштадан хаттарды оқуға да, үлкен ойындарды дамытуға да қатысады. Python қолдану аймақтарында іс жүзінде ешқандай шектеулер жоқ, бұл оны үлкен пропорциялардағы жобаларда пайдалануға мүмкіндік береді.&nbsp;</p>
	<p>
	<br>
	</p>
	<p>Python-ды IT әлемінің киттері жиі пайдаланады - Google және Yandex. Бұған бағдарламалар жасаудың қарапайымдылығын қоссаңыз, Python неге ең жақсы тілдер тізімінде орын алуға лайық екенін түсіну оңай.</p>
	<p>
	<br>
	</p>
	<p>
	<br>
	</p>
	<p>Python-мен жұмыс істеуді бастау үшін алдымен мына сайтқа өту керек
	Тілді таратуды жүктеп алу үшін <noindex><a rel="nofollow" target="_blank" href="https://www.python.org/">ресми веб-ресурс</a></noindex>. Сайтта кодтау ережелері мен тілдің кеңеюіне қатысты көптеген пайдалы ақпарат бар.</p>
	<p>
	<br>
	</p>
</div> {% endblock %}