{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
<div class="main text">
    <h2>Ақаулықтарды жою</h2>
    <p>Кейде кодты орындау кезінде қателерге тап болуыңыз мүмкін. Оларды жақсырақ түсіну үшін олармен басында танысу керек.&nbsp;</p>
    <p>
    <br>
    </p>
    <p>Төменде бағдарламаны іске қосу кезінде орын алуы мүмкін барлық негізгі қателер бар фотосурет бар. Төмендегі фотода олармен танысуға шақырамыз (<u>суретті үлкейту үшін басыңыз</u>):&nbsp;</p>
    <p>
    <br>
    </p>
    <p style="text-align: center;"><img style="width:550px;" src="/img/courses/errors.png"></p>
    <p>
    <br>
    </p>
    <h2>Шығыс ақпараты</h2>
    <p><code>print</code> функциясы ақпаратты көрсету үшін пайдаланылады. Ол жолды параметр ретінде қабылдайды және оны терминалда (консольде) көрсетеді. Функцияны жүзеге асыру мысалы:</p><pre class="language-python"><code class="lang language-python"><span class="token keyword">print</span><span class="token punctuation ">(</span><span class="token string">"Hello world"</span><span class="token punctuation">)</span></code></pre></div>{% endblock %}