{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
<div class="main-text">
    <p>Сөздіктер жасалу тәсілімен, сондай-ақ индекс пішімімен ерекшеленеді. Егер кәдімгі тізімде сандар (0, 1, 2...) индекстер ретінде әрекет етсе, онда олардың орнына «кілттер» келеді. Сонымен, біз кілт жасай аламыз (мысалы, Федя студенті) және оған бір элемент ретінде бірқатар сипаттамаларды (тізім) қоса аламыз. Енді қажетті оқушыны табу оңайырақ болады, өйткені біз сандармен емес, жай ғана пернелермен әрекет етеміз.</p>
    <p>
    <br>
    </p>
    <p>Көптеген басқа бағдарламалау тілдерінде мұндай сөздіктер жиі ассоциативті массивтер деп аталады, сондықтан бұл атауды да есту сирек емес.</p>
    <p>
    <br>
    </p>
    <p>Сөздікті жасау үшін келесі құрылымды пайдалануға болады:</p><pre class=" language-python"><code class="lang  language-python">words <span class="token operator">=</span> <span class="token punctuation">{</span><span class="token string">'short'</span><span class="token punctuation">:</span> <span class="token string">'Jo'</span><span class="token punctuation">,</span> <span class="token string">'long'</span><span class="token punctuation">:</span> <span class="token string">'John'</span><span class="token punctuation">}</span></code></pre>
	<h2><br></h2>


</div> {% endblock %}