{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
<div class="main-text">
    <p>Тізімдерді массив деп те атауға болады, себебі олар ұқсас рөл атқарады. Python тілінде мұндай «массивтердің» көптеген түрлері бар. Сабақта біз тізім деп аталатын және келесі сипаттамаларға ие бірінші түрін ғана қарастырдық:</p>
    <ul>
    <li>оның элементтерін қайта анықтауға болады;</li>
    <li>оған жаңа элементтер қосуға болады;</li>
    <li>одан элементтерді жоюға болады;</li>
    <li>индекстер кілт ретінде пайдаланылады (сандар - 0, 1, 2...).</li>
    </ul>
	<p>
		<br>
	</p>
	<p>Бұл тізімнің барлық сипаттамалары емес, бірақ оны Python тіліндегі басқа "массивтерден" ерекшелендіретін негізгі нүктелер.</p>
<p>
<br>
</p>
<p>Тізімдер үшін элементтерді қосу, жою немесе іздеу үшін пайдалануға болатын көптеген функциялар бар.</p>
<p>
<br>
</p>
<p>Тізімде әртүрлі ақпаратты сақтауға болады. Мысалы, онда топтағы барлық студенттер туралы ақпаратты сақтауға болады.</p>
<p>
<br>
</p>
<p>Мысалы:</p><pre class=" language-python"><code class="lang  language-python">lis <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token string">"Андрей"</span><span class="token punctuation">,</span> <span class="token string">"Иван"</span><span class="token punctuation">,</span> <span class="token string">"Василий"</span><span class="token punctuation">,</span> <span class="token string">"Петро"</span><span class="token punctuation">,</span> <span class="token string">"Максим"</span><span class="token punctuation">,</span> <span class="token string">"Дима"</span><span class="token punctuation">]</span></code></pre>
	<p>Бір жерде осындай жазбадан кейін сіз топтағы барлық студенттердің есімдерін жинаған боласыз. Келісіңіз, бұл 10 немесе тіпті 20 түрлі айнымалыларды жасаудан әлдеқайда ыңғайлы. Болашақта біз студенттердің аты-жөнін ғана емес, сонымен қатар студенттердің әрқайсысының сипаттамаларын сақтауға мүмкіндік беретін қосымша нәрселерді зерттейтін боламыз.</p>
</div> {% endblock %}