{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
<div class="main-text">
	<p>Көртеліктер – бірнеше айырмашылықтары бар бірдей тізімдер. Кортеждерді жасалғаннан кейін өзгерту мүмкін емес және олар тізімдерге қарағанда біршама аз жадты алады.</p>
<div>
<br>
</div>
<p>Кортеждермен жұмыс істеу кезінде сипатталған барлық әдістер толығымен орындалады
<noindex><a href="7">Тізімдер туралы сабақ</a></noindex>. Жұмыс істемейтін жалғыз әдістер - кортежді өзгертетін әдістер: жою, элементтерді қосу, кортеждерді қосу және т.б.</p>
<p>
<br>
</p>
<p>Кортеждерді екі жолмен жасауға болады:</p>
<p>
<br>
</p>
<ul>
<li style="line-height: 1.6;"><code>a = tuple ()</code> кілт сөзін пайдалану;</li>
<li style="line-height: 1.6;">литералды <code>a = ()</code> пайдалану.</li>
</ul>
<p>
<br>
</p>
<p>Олардың басты артықшылығы - оларды өзгерту мүмкін емес, сондықтан сіз де, басқа ешкім де кортежді кездейсоқ немесе әдейі өзгерте алмайды.</p>
</div> {% endblock %}