{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
<div class="main-text">
    <p>Декораторлар көп жағдайда өте ыңғайлы. Сіз оны функцияның ішіне жазуға болатын болса, оны орындағанға дейін және кейін қосылған жаңа кодпен неге орау керек деп ойлайсыз?</p>
    <p>
    <br>
    </p>
    <p>Бір секундқа бізде үлкен бағдарлама бар және кейбір функцияларды бірнеше рет қолданамыз деп елестетіп көрейік. Біз оны өзгертудің қажеті жоқ, өйткені басқа көптеген ішкі бағдарламалар оны пайдаланады. Дегенмен, біз оған шақырылғанға дейін немесе кейін іске қосылуы керек кодты қосуымыз керек. Мұнда көмекке осы тапсырманы орындай алатын декораторлар келеді.</p>
    <p>
    <br>
    </p>
    <p>Бейне оқулықтағыдай бір функцияны бірнеше рет орауға болады.</p>
</div> {% endblock %}