{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
<div class="main-text">
	<p>Көптеген бағдарламалау тілдері жоба файлдарымен және каталогтармен жұмыс істеуге арналған сабақтарды ұсынады. <strong>Python</strong> тілінде файлдардан деректерді жазуға және оқуға арналған көптеген сыныптар бар.</p>
<p>
<br>
</p>
<h4>Файлдармен жұмыс</h4>
<p>Файлдармен жұмыс істегенде екі нәрсені есте ұстау керек:</p>
<ol>
<li>Файлмен жұмыс жасамас бұрын оны ашу керек;</li>
<li>Файлмен жұмыс істеп болғаннан кейін оны жабу керек.</li>
</ol>
<p>
<br>
</p>
<p>Файл ашық болмаса немесе дұрыс ашылмаған болса, оның мазмұнымен толық жұмыс істей алмайсыз.&nbsp;</p>
<p>
<br>
</p>
<p>Жабу оңайырақ, бірақ сонымен бірге қиынырақ. Егер сіз файлды жаппасаңыз, бағдарлама дұрыс жұмыс істейді, алайда ашық файлдар неғұрлым көп болса, бағдарлама соғұрлым шамадан тыс жүктеледі және белгілі бір уақытта ол жай ғана ілініп қалады немесе өшеді.</p>
<p>
<br>
</p>
<h4>Ерекшеліктер мен файлдар</h4>
<p>Файл жобада немесе пайдаланушының компьютерінде болатыны әрқашан белгісіз болғандықтан, файлдарды ерекше жағдайларды пайдалану арқылы ашқан дұрыс. Файлдарды <code>try except</code> блогында ашыңыз, осылайша сіз өзіңізді кез келген күтпеген жағдайлардан қорғайсыз.</p>
<div>
<br>
</div>
<h4>Файлдармен жұмыс</h4>
<p>Файлды ашу үшін файлды әртүрлі тәсілдермен ашатын <code>open</code> функциясы бар.</p>
<p>
<br>
</p>


	<p>Файлға мәтін жазу үшін <code>write</code> әдісі және оқу үшін <code>read</code> әдісі бар. Файл аяқталғаннан кейін оны жабу керек. Бұл <code>close</code> әдісі арқылы орындалады.</p> 
</div> {% endblock %}